@model IEnumerable<DevExtremeMvcApp2.Models.uebersicht_daten>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kennzeichen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fahrzeughalter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Niederlassung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kraftstoff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Neuwagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kennzeichen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marke)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fahrzeughalter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Niederlassung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kraftstoff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Neuwagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
